.theme-dark {
	--background: #0f0f0f;

    --textLight: hsl(0, 0%, 83%);
    --textDark: hsl(240, 0%, 24%);

	--titleText: var(--textLight);
    --pText: var(--textLight);

	--cardBg: #242424;
	--cardBorder: #494949;
	--cardText: var(--textLight);

    --buttonText: var(--textLight);
}
