:root {
	--background: #e3deeb;

	--textLight: #f3e4ff;
	--textDark: #5b5b95;

	--titleText: var(--textDark);
    --pText: var(--textDark);

	--cardBg: #ececff;
	--cardBorder: #8d8dc5;
	--cardText: var(--textDark);

    --buttonText: var(--textLight);
}
