@import 'tailwindcss';

@import './themes/theme-light.css';
@import './themes/theme-dark.css';
@import './themes/theme-purple.css';

@import './card.css';

@custom-variant dark (&:where(.theme-dark, .theme-dark *));
@custom-variant purple (&:where(.theme-purple, .theme-purple *));

@theme inline {
	/* Theme-independent */
	--something: none;

	/* Theme-overriden */
	--color-background: var(--background);

    --color-titleText: var(--titleText);
    --color-pText: var(--pText);
    
	--color-cardBg: var(--cardBg);
	--color-cardBorder: var(--cardBorder);
    --color-cardText: var(--cardText);

    --color-buttonText: var(--buttonText);
}

@layer base {
	body {
		@apply bg-background flex flex-col;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold text-titleText;
	}

	h1 {
		@apply text-3xl text-center;
	}

	h4 {
		@apply text-3xl;
	}

	p {
		@apply text-pText;
	}
}
